/* General settings */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #FFFFFF;
}
body, td, th {
  color: #000000;
  font-family: "Luxi Sans", Arial, sans-serif;
  font-size: 10pt;
}
body {
  background-color: #FFFFFF;
}
a, a:visited {
  color: #0000FF;
}
/* Layout */
#header, #body, .padded {
  padding: 8px;
}
#header {
  background-color: #EEFFDD;
}
#messages {
  background-color: #DDEECC;
}
#header, #messages {
  border-bottom: 2px solid #EECCAA;
}
#panel {
  position: relative;
  min-height: 100%;
}
#folders {
  float: left;
  padding-right: 8px;
}
#main {
  float: left;
  width: 60%;
}
.clear {
  clear: both;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #EEFFDD;
  border-top: 2px solid #EECCAA;
}
span.title {
  color: #770000;
  font-size: large;
  font-weight: bold;
}
span.menu {
  margin-left: 12px;
}
span.currentSection {
  color: #FFFFFF;
  background-color: #007700;
}
span.currentSection, a.sectionLink {
  padding: 0 8px;
}
/* Tables */
table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid #777777;
  padding-left:  4px;
  padding-right: 4px;
}
th {
  background-color: #FFEEDD;
  border-bottom: 3px solid #777777;
}
table.view td {
  border: none;
}
table.view td.label {
  font-weight: bold;
  color: #6699AA;
  text-align: right;
}
table.view td.value {
  font-family: monospace;
}
/* Display Tag */
table#contact {
  margin-top: 8px;
}
tr.odd {
  background-color: #E5F5E5;
}
tr.even {
  background-color: #FFFFFF;
}
th.sorted {
  background-color: #EECCAA;
}
th.order1 {
    background-image: url(/images/gradient_asc.png);
}
th.order2 {
    background-image: url(/images/gradient_desc.png);
}
/* Form controls */
table.form td {
  color: #004499;
  border: none;
  padding: 4px;
  text-align: right;
}
table.form td.error {
  text-align: left;
}
input, textarea {
  background-color: #F5F5FF;
  border: 1px solid #777777;
  font-family: "Luxi Mono", monospace;
  font-size: 10pt;
}
input[type="button"], input[type="submit"] {
  border: 1px solid #007A68;
  color: #004499;
  background-color: #EEEEFF;
  font-family: "Luxi Sans", sans-serif;
}
/* Message display */
span.message {
  font-weight: bold;
  color: #008800;
  padding: 8px;
}

/* END:required */

input.error {
    border-color: red
}

div.messages {
    display: block;
    border: 2px solid #008800 ;
    margin-bottom: 8px;
    background-color: #CCFFCC;
}

div.messages p {
    font-weight: bold;
    color: #008800 ;
    margin: 0;
}

div.errors {
    display: block;
    #border: 2px solid #880000 ;
    margin-bottom: 8px;
    #background-color: #FFDDDD;
}

div.errors p {
    font-weight: bold;
    color: #880000 ;
    margin: 0;
}

span.error {
  font-weight: bold;
  color: #880000;
  padding: 8px;
}

input.error {
  border: 2px solid #880000;
  background-color: #FFDDDD;
}
label.error {
  color: #880000;
  font-weight: bold;
  text-decoration: underline;
}
input.required {
  border-width: 2px;
}
